body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(56, 56, 56);
  background-color: #ffccd9;
  margin: 0 0 70px 0;
}

/*header: logo & title*/
header {
  text-align: center;
  padding: 20px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 24px 22px -25px #00000075;
}

img {
  display: inline-block;
  height: 45px;
}

h1 {
  color: #58172d;
  display: inline-flex;
  vertical-align: top;
  margin: 0;
  margin-left: 10px;
  border-bottom: solid 2px white;
}
p {
  margin: 0;
  font-size: 14px;
}
/*table*/
table {
  margin: 160px auto 60px auto;
}
thead {
  background-color: #71082b;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  font-weight: 300;
  font-size: 15px;
}

td {
  background-color: #fdfaff;
  font-size: 13px;
}

/*form*/
form {
  border-radius: 20px;
  background-color: #fdfaff;
  margin: 30px auto;
  padding: 30px;
  width: 50%;
}

.input-block {
  display: inline-block;
  margin: 5px 0;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin: 0 7px 0 12px;
  color: #71082b;
}

input,
select {
  padding: 6px;
  width: 130px;
  border-radius: 5px;
  border: solid 1px #ffccd9;
  color: rgb(56, 56, 56);
}
input:focus,
input:active,
select:focus,
select:active {
  outline: 0px !important;
  /* -webkit-appearance: none; */
  box-shadow: none !important;
  border: solid 1px #71082b;
}

button {
  display: block;
  color: #71082b;
  font-weight: 600;
  border: 0;
  border-radius: 6px;
  height: 42px;
  width: 120px;
  background-color: #ffccd9;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 0px 2px 4px #00000075;
  transition: all 0.3s;
}

button:hover {
  color: white;
  background-color: #71082b;
  box-shadow: none;
  transition: all 0.3s;
}
